@media (max-width:992px) {
    .border-rig{
        border: none !important;
    }
}
@media (max-width:576px) {
    .box{
        width: 100%;
    
    }
    .hero{
        padding: 20px !important;
    }
    .m-50{
        margin: 0 !important;
    }
    .lg-padding{
        padding: 30px;
    }
    .left{
        margin-left: 10px;
    }
    .left-1{
        width: 100%;
    }
    .main-hero{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .res{
        padding: 10px !important;
    }
}